.CodeWindow {
    background-color: #f7f7f7;
    font-family: sans-serif;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 35vh;
    min-height: 280px;
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.4);
    transition: transform .3s;
    transform: translateY(100%);
    font-family: sans-serif !important;
    font-size: 1rem !important;
}
@media(max-width: 500px) {
    .CodeWindow {
        height: 100vh;
    }
}
.CodeWindow--active {
    transform: translateY(0) !important;
}
.CodeWindow * {
    font-family: inherit !important;
}

.CodeWindow-menu {}
.CodeWindow-btnToggle {
    position: absolute;
    top: 0;
    max-height: 35px;
    right: 0;
    z-index: 10;
    border: 1px solid #333;
    background-color: #495465;
    color: #FFFFFF;
    font-size: .7em;
    padding: .7em 1em;
    border-radius: 0 0 0 5px;
    outline: 0;
    cursor: pointer;
}
.CodeWindow-btnToggle:hover {
    opacity: .9;
}



.CodeWindow-block {
    display: inline-block;
    width: 49%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: inline-flex;
    flex-direction: column;
}
.CodeWindow-block:first-of-type {
    margin-right: 2%;
}
@media (max-width: 500px) {
    .CodeWindow-block {
        width: 100%;
        height: 50%;
    }
}

.CodeWindow-form {
    flex: 1;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.CodeWindow-blockTitle {
    margin-top: 0;
    padding: 15px 18px;
    margin-bottom: 0;
}

.CodeWindow-run {
    position: absolute;
    bottom: 0;
    max-height: 40px;
    right: 0;
    z-index: 10;
    border: 1px solid green;
    background-color: #42bc79;
    color: #FFFFFF;
    font-size: .9em;
    padding: .7em 2.3em .7em 1.4em;
    border-radius: 5px 0 0 0;
    outline: 0;
    cursor: pointer;
}
.CodeWindow-run:hover {
    opacity: .9;
}

.CodeWindow-run:after {
    content: "";
    border: 10px solid transparent;
    border-left-color: green;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.CodeWindow-run[disabled="true"] {
    opacity: .5;
    cursor: wait;
}



/* shame */
#compilerReturn + .CodeMirror .CodeMirror-linenumber {
    display: none;
}
/* .CodeMirror-code > div {
    padding-left: 30px;
} */